* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  line-height: 1.6;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  margin-bottom: 1rem;
}

.home {
  background-color: #282c34;
  color: white;
  padding-top: 2rem;
}

.home button {
  margin: 1rem;
  padding: 0.2rem 0.5rem;
}

.App-main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding-bottom: 4rem;
}

.App-link {
  color: #61dafb;
}

.form-body {
  position: absolute;
  left: 50%;
  top: 40%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.form-body h1,
.form-body p {
  margin-bottom: 1rem;
}

.form-body input {
  margin: 1rem;
}

.form-body button {
  margin: 1rem;
  padding: 0.2rem 0.5rem;
}

.home span {
  font-size: 1rem;
}

.home button[title="delete account"] {
  color: red;
}
